!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Output of rails_best_practices
    :css
      body {
        color: #333;
        background: #eee;
        padding: 0 20px;
      }
      h1 {
        color: ##4E4E4E;
      }
      table {
        background: white;
        border: 1px solid #666;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 14px;
      }
      table th, table td {
        padding: 4px;
        border: 1px solid #D0D0D0;
      }
      table th {
        background-color: #DFC;
        color: #337022;
      }
      table td.filename {
        color: #ED1556;
      }
      table tr:hover {
        background-color: #FFFFC0;
      }
  %body
    %h1 rails_best_practices output
    %h2 Please go to <a href="http://rails-bestpractices.com">http://rails-bestpractices.com</a> to see more useful Rails Best Practices.
    %h2
      - if errors.empty?
        No error found. Cool!
      - else
        Found #{errors.size} errors.
    %table
      %tr
        %th Filename
        %th Line Number
        %th Error Message
      - errors.each do |error|
        %tr
          %td.filename= error.filename
          %td.line-number= error.line_number
          %td.message= error.message
