<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Output of rails_best_practices</title>
    <style type="text/css">
      body {
        color: #333;
        background: #eee;
        padding: 0 20px;
      }
      h1 {
        color: ##4E4E4E;
      }
      p {
        margin: 5px 0;
      }
      table {
        background: white;
        border: 1px solid #666;
        border-collapse: collapse;
        margin: 10px 0;
        font-size: 14px;
      }
      table th, table td {
        padding: 4px;
        border: 1px solid #D0D0D0;
      }
      table th {
        background-color: #DFC;
        color: #337022;
      }
      table td.filename {
        color: #ED1556;
      }
      table tr:hover {
        background-color: #FFFFC0;
      }
      ul {
        clear: both;
        display: inline-block;
        padding: 0;
        margin: 0;
      }
      ul li {
       list-style: none;
       display: none;
       float: left;
      }
    </style>
  </head>
  <body>
    <h1>rails_best_practices output</h1>
    <p>
      Please go to
      <a href='http://rails-bestpractices.com' target='_blank'>http://rails-bestpractices.com</a>
      to see more useful Rails Best Practices.
    </p>
    <p>
      <% if @errors.empty? %>
        No error found. Cool!
      <% else %>
        Found <%= @errors.size %> warnings.
      <% end %>
    </p>
    <ul>
      <% @error_types.each do |error_type| %>
        <li><input type="checkbox" value="<%= error_type.split(':').last %>" /><%= error_type.split(':').last %></li>
      <% end %>
    </ul>
    <%= @result_table %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $('ul li').show();
        $('input[type=checkbox]').prop('checked', true).click(function() {
          if ($(this).attr('checked')) {
            $(this).prop('checked', true);
            $('.'+$(this).val()).show();
          } else {
            $(this).prop('checked', false);
            $('.'+$(this).val()).hide();
          }
        });
      });
    </script>
  </body>
</html>
